@font-face {
    font-family: 'Museo Sans Cyrl';
    font-weight: 100;
    src: url(../fonts/MuseoSansCyrl.otf) format('truetype');
}
@font-face {
    font-family: 'Museo Sans Cyrl';
    font-weight: 100;
    src: url(../fonts/MuseoSansCyrl-100.ttf) format('truetype');
}
@font-face {
    font-family: 'Museo Sans Cyrl';
    font-weight: 300;
    src: url(../fonts/MuseoSansCyrl-300.ttf) format('truetype');
}
@font-face {
    font-family: 'Museo Sans Cyrl';
    font-weight: 700;
    src: url(../fonts/MuseoSansCyrl-700.ttf) format('truetype');
}